@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url(./images/bg-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-color: #0c122c;
  font-size: 0.875rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}
.fylo {
  background-color: #1d2c67;
  color: white;
  width: 19.5rem;
  height: 10.5rem;
  border-radius: 0.9375rem 6.25rem 0.9375rem 0.9375rem;
  padding: 2rem;
}

.imgs {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
  width: 60%;

  .img-container {
    padding: 1em;
    border-radius: 0.8rem;
    background-color: #0c122c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.progress {
  width: 31.25rem;
  height: 7.5rem;
  border-radius: 1rem;
  background-color: #1d2c67;
  padding: 1rem 2rem;
  position: relative;
}
.progress__title {
  color: #7e8292;

  .progress__span {
    color: white;
  }
}

.progress__bar-container {
  width: 100%;
  height: 1.25rem;
  background-color: #0c122c;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding: 0.1rem;
  & .progress__bar {
    background: linear-gradient(to right, #ff9f99, #ff5297);
    height: 1rem;
    width: 80%;
    border-radius: 1rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 100%;
      background-color: white;
      right: 3px;
      top: 2px;
    }
  }
}

.progress-storage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .progress {
    width: 100%;
  }
}
